@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F8F8F8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form {
  @import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

  perspective: 800px;
  width: 500px;
  height: 499px;
  border-radius: 10px;
  margin: 97px;
  margin-right: 70px;
  margin-left: 20px;
  background-color: #000000;

}

.login {
  perspective: 800px;
  width: 500px;
  height: 499px;
  border-radius: 10px;
  margin: 103px;
  margin-right: 70px;
  margin-left: 20px;
  /* background-color: #4E5C82; */

}

.botonlogin {

    
  color: #ffffff;
  background: #000000;

}